<mtapp:setting
    id="check_published"
    label="<__trans phrase="Published trackback">"
    hint="<__trans phrase="Select your action when the published trackback is dead">"
    show_hint="1">
</mtapp:setting>
